@tailwind base;
@tailwind components;
@tailwind utilities;

.visually-hidden:not(:focus):not(:active) {
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.diamond-gallery:has(img:hover) img:not(:hover) {
  filter: brightness(0.5) saturate(0.5);
  transition: filter 300ms ease-in-out;
}

@keyframes slideAndBack {
  0% {
    transform: translateX(0);
    z-index: 0;
  }
  50% {
    transform: translateX(120%);
    z-index: 0;
  }
  75% {
    transform: translateX(120%);
    z-index: -1;
  }
  100% {
    transform: translateX(0);
    z-index: -1;
  }
}

@keyframes slideAndBackMirrored {
  0% {
    transform: translateX(0);
    z-index: -1;
  }
  50% {
    transform: translateX(+120%);
    z-index: -1;
  }
  75% {
    transform: translateX(+120%);
    z-index: 1;
  }
  100% {
    transform: translateX(0);
    z-index: 1;
  }
}
