@import "tailwindcss";

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

/* The default border color has changed to `currentcolor` in Tailwind CSS v4 */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@theme {
  --color-accent: oklch(54.6% 0.245 262.881); /* blue-600 */
  --color-accent-muted: oklch(0.9517 0.0199 267.29); /* blue-600/10 */
  --color-surface-subtle: oklch(98.4% 0.003 247.858); /* slate-50 */
  --color-surface-muted: oklch(92.9% 0.013 255.508); /* slate-200 */
  --color-surface: oklch(1 0 0); /* white */
  --color-neutral: oklch(70.4% 0.04 256.788); /* slate-400 */
  --color-foreground: oklch(37.2% 0.044 257.287); /* slate-700 */
  --color-foreground-inverse: oklch(92.9% 0.013 255.508); /* slate-200 */

  --animate-blink: blink 1s ease-in infinite;
  --animate-fade-in: fade-in 0.3s ease-in forwards;
  --animate-fade-in-blur: fade-in-blur 0.3s ease-in forwards;
  --animate-marquee-horizontal: marquee-horizontal linear infinite;
  --animate-marquee-vertical: marquee-vertical linear infinite;
  --animate-shimmer: shimmer 2.5s linear infinite;
  --animate-slide-down: slide-down ease-in 0.3s;
  --animate-slide-down-fade: slide-down-fade ease-in;
  --animate-slide-left: slide-left linear 0.3s;
  --animate-slide-right: slide-right linear 0.3s;
  --animate-slide-up: slide-up ease-in 0.3s;
  --animate-slide-up-fade: slide-up-fade ease-in;

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-in-blur {
    0% {
      opacity: 0;
      filter: blur(1rem);
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  @keyframes marquee-horizontal {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-100% - 2rem));
    }
  }

  @keyframes marquee-vertical {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(calc(-100% - 2rem));
    }
  }

  @keyframes shimmer {
    0% {
      background-position-x: 200%;
    }
    100% {
      background-position-x: 0%;
    }
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slide-down-fade {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slide-up-fade {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@layer theme {
  :root,
  :host {
    @variant dark {
      --color-accent: oklch(92.4% 0.12 95.746); /* amber-200 */
      --color-accent-muted: oklch(0.2916 0.0163 259.79); /* amber-200/10 */
      --color-surface-subtle: oklch(20.8% 0.042 265.755); /* slate-900 */
      --color-surface-muted: oklch(37.2% 0.044 257.287); /* slate-700 */
      --color-surface: oklch(20.8% 0.042 265.755); /* slate-900 */
      --color-neutral: oklch(55.4% 0.046 257.417); /* slate-500 */
      --color-foreground: oklch(92.9% 0.013 255.508); /* slate-200 */
      --color-foreground-inverse: oklch(37.2% 0.044 257.287); /* slate-700 */
    }
  }
}

@layer components {
  .focus-ring,
  .focus-ring-inner,
  .focus-ring-neutral,
  .focus-ring-neutral-inner {
    outline: none;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      border-radius: 0.25rem;
    }
  }

  .focus-ring:focus-visible,
  .focus-ring-inner:focus-visible {
    outline: 2px solid var(--color-accent);
  }

  .focus-ring-neutral:focus-visible,
  .focus-ring-neutral-inner:focus-visible {
    outline: 2px solid var(--color-foreground);
  }

  .focus-ring:focus-visible,
  .focus-ring-neutral:focus-visible {
    outline-offset: 2px;
  }

  .focus-ring-inner:focus-visible,
  .focus-ring-neutral-inner:focus-visible {
    outline-offset: -1px;
  }
}

@utility shimmer {
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0) 43%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 57%
  );
}

button {
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active) {
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.diamond-gallery:has(img:hover) img:not(:hover) {
  filter: brightness(0.5) saturate(0.5);
  transition: filter 300ms ease-in-out;
}

.showcase:has(img:hover) img:not(:hover) {
  filter: brightness(0.5) saturate(0.5);
  transition: filter 500ms ease-in-out;
}

/* Custom styles for the details element */
details > summary::before {
  transform: rotate(-90deg) translate(2px, -0px); /* Align the triangle with the text */
}

details[open] > summary::before {
  transform: rotate(0deg) translate(0, -2px);
}

/*modal chromium size bug fix*/
dialog:modal {
  max-width: 100vw;
  max-height: 100vh;
}

/** GalleryStack animations
 * Define outside of @theme as they are used in inline styles
**/
@keyframes slide-back {
  0% {
    transform: translateX(0);
    z-index: 0;
  }
  50% {
    transform: translateX(120%);
    z-index: 0;
  }
  75% {
    transform: translateX(120%);
    z-index: -1;
  }
  100% {
    transform: translateX(0);
    z-index: -1;
  }
}

@keyframes slide-back-mirrored {
  0% {
    transform: translateX(0);
    z-index: -1;
  }
  50% {
    transform: translateX(+120%);
    z-index: -1;
  }
  75% {
    transform: translateX(+120%);
    z-index: 1;
  }
  100% {
    transform: translateX(0);
    z-index: 1;
  }
}
