@import "./theme.css";
@source "../dist/**/*.{ts,tsx}"; /* make sure consuming projects scan m7kit's files for class names  */

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

/* The default border color has changed to `currentcolor` in Tailwind CSS v4 */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body {
    background: var(--color-background);
    color: var(--color-foreground);
  }
}

@layer components {
  .focus-ring,
  .focus-ring-inner,
  .focus-ring-neutral,
  .focus-ring-neutral-inner {
    outline: none;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      border-radius: 0.25rem;
    }
  }

  .focus-ring:focus-visible,
  .focus-ring-inner:focus-visible {
    outline: 2px solid var(--color-accent);
  }

  .focus-ring-neutral:focus-visible,
  .focus-ring-neutral-inner:focus-visible {
    outline: 2px solid var(--color-foreground);
  }

  .focus-ring:focus-visible,
  .focus-ring-neutral:focus-visible {
    outline-offset: 2px;
  }

  .focus-ring-inner:focus-visible,
  .focus-ring-neutral-inner:focus-visible {
    outline-offset: -1px;
  }
}

@utility shimmer {
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0) 43%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 57%
  );
}

.visually-hidden:not(:focus):not(:active) {
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.diamond-gallery:has(img:hover) img:not(:hover) {
  filter: brightness(0.5) saturate(0.5);
  transition: filter 300ms ease-in-out;
}

.showcase:has(img:hover) img:not(:hover) {
  filter: brightness(0.5) saturate(0.5);
  transition: filter 500ms ease-in-out;
}

/* Custom styles for the details element */
details > summary::before {
  transform: rotate(-90deg) translate(2px, -0px);
  /* Align the triangle with the text */
}

details[open] > summary::before {
  transform: rotate(0deg) translate(0, -2px);
}

/*modal chromium size bug fix*/
dialog:modal {
  max-width: 100vw;
  max-height: 100vh;
}

/** GalleryStack animations
 * Define outside of @theme as they are used in inline styles
**/
@keyframes slide-back {
  0% {
    transform: translateX(0);
    z-index: 0;
  }

  50% {
    transform: translateX(120%);
    z-index: 0;
  }

  75% {
    transform: translateX(120%);
    z-index: -1;
  }

  100% {
    transform: translateX(0);
    z-index: -1;
  }
}

@keyframes slide-back-mirrored {
  0% {
    transform: translateX(0);
    z-index: -1;
  }

  50% {
    transform: translateX(+120%);
    z-index: -1;
  }

  75% {
    transform: translateX(+120%);
    z-index: 1;
  }

  100% {
    transform: translateX(0);
    z-index: 1;
  }
}
